.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;

  .checkbox {
    width: 30px;
    height: 30px;
  }

  .label {
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    color: #272727;
  }
}
