.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputFileContainer {
  border: 2px dashed #ebebeb;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.inputFile {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.previewContainer {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .carousel {
    display: flex;
    align-items: center;

    .arrowLeft, .arrowRight {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) !important;
      color: white;
      font-size: 14px;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;
    }

    .arrowLeft {
      left: 10px;
    }

    .arrowRight {
      right: 10px;
    }

    .carouselItem {
      height: 100%;
      display: flex;
      align-items: center;
    };
  }

  .previewImage {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: contain;
  }

  .deleteButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 30px;
    height: 30px;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}
