.wrapper {
  display: flex;
  height: 100vh;

  .adminContent {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .dataWrapper {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .section {
        display: flex;
        gap: 8px;
      }
    }
  }
}
