.adminInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .label {
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    color: #272727;
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: auto;
    position: relative;

    .input {
      width: 100%;
      border: 1px solid #ebebeb;
      border-radius: 99px;
      padding: 18px 20px;
      outline: none;
      font-family: "Inter-Regular", sans-serif;
      font-size: 14px;
      color: #272727;

      &::placeholder {
        font-family: "Inter-Regular", sans-serif;
        font-size: 14px;
        color: #9b9b9b;
      }
    }

    .plus {
      position: absolute;
      top: 12px;
      right: 12px;
      width: 32px;
      height: 32px;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    .error {
      margin-left: 20px;
      font-family: "Inter-Regular", sans-serif;
      font-size: 12px;
      color: #ec0202;
    }
  }
}
