.backButton {
  width: 56px;
  height: 56px;
  background: #18437e;
  border-radius: 100%;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
